
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<form method="post">
    <div class="form-group">
        <label>Title</label>
        <input class="form-control" name="Title" />
    </div>

    <div class="form-group">
        <label>Description</label>
        <input class="form-control" name="Description" />
    </div>

    <div class="form-group">
        <label>Actual Amount</label>
        <input class="form-control" name="ActualAmount" />
    </div>

    <div class="form-group">
        <label>Sarting Time</label>
        <input class="form-control" name="StratingTime" />
    </div>

    <div class="form-group">
        <label>Ending Time</label>
        <input class="form-control" name="EndingTime" />
    </div>

    <button type="submit" class="btn btn-success">Save</button>
</form>


