
@{
    ViewBag.Title = "Delete";
}

<h2>Are You sure to delete?</h2>

<form method="post">
    <button class="btn btn-warning">Yes</button>
    <a class="btn btn-success" href="@Url.Action("Listing","Auctions")">No</a>
</form>

